.container__signin {
  max-width: 1920px;
  display: flex;
  width: 100%;
  background-color: #fff; }

.signin {
  width: 50%; }
  .signin .signin__logo {
    width: 100%;
    margin: 6.25% 0 0 20%; }
    .signin .signin__logo .signin__logo {
      width: 24.7%; }

form > div > label {
  color: #868e95;
  text-transform: uppercase; }

.signUp {
  margin-top: 7%; }

form {
  margin: 40% 0 0 20%;
  display: flex;
  width: 50%;
  margin-top: 20%;
  flex-direction: column; }
  form h1 {
    margin-bottom: 3.75%;
    font-size: 3rem;
    line-height: 4rem;
    font-family: "BebasNeueBold";
    color: #222529;
    text-align: left; }
  form .inputElem {
    display: flex;
    flex-direction: column;
    position: relative; }
  form input[type="email"], form input[type="text"], form input[type="submit"], form input[type="password"] {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 8px 16px;
    margin-bottom: 25px;
    border: none; }
  form input[type="email"], form input[type="password"], form input[type="text"] {
    background-color: #f1f3f5;
    font-family: "SourceSansPro-Regular";
    border-radius: 4px; }
  form input[type="email"], form input[type="password"], form input[type="text"]:focus {
    outline-color: #01ce9f; }
  form input[type="submit"] {
    background-color: #01ce9f;
    border-radius: 4px;
    color: #fff; }
  form input[type="submit"]:hover {
    cursor: pointer; }
  form input[type="submit"]:disabled {
    opacity: 0.6; }
  form label {
    font-family: "SourceSansPro-Semibold";
    font-size: 1rem; }

.remember {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.85%; }

.check input {
  display: none; }

.check label {
  position: relative;
  padding-left: 25px;
  display: inline-block;
  font-family: "SourceSansPro-Regular"; }

.check label:before {
  content: "";
  display: inline-block;
  height: 16px;
  width: 16px;
  position: absolute;
  background-color: #f1f3f5;
  left: 0;
  top: 2px;
  border-radius: 0.25em; }

.check input:checked + label:before {
  content: "\2713";
  text-align: center;
  color: #fff;
  background-color: #01ce9f; }

.remember a {
  color: #01ce9f;
  font-family: "SourceSansPro-Semibold";
  text-decoration: none; }

.signup {
  display: flex; }
  .signup p {
    font-family: "SourceSansPro-Regular";
    font-size: 1rem; }

.signup a {
  color: #01ce9f;
  margin-left: 5px;
  font-family: "SourceSansPro-Semibold";
  text-decoration: none; }

.inputElem > a {
  position: absolute;
  right: 0px;
  top: 0;
  text-decoration: none;
  color: black;
  background-color: #d2d6da;
  border-radius: 4px;
  padding: 8px 5px;
  height: 23px;
  min-width: 15%; }

.inputElem label span {
  color: #df203d; }

.signPageSection2 {
  text-align: right;
  width: 50%;
  overflow: hidden; }

.signPageSection2 img {
  height: 100vh; }
