.settings {
    width: 31.25%;
}

.container_settings__profile {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    margin-top: 16px;
    border-radius: 4px;
}

.container_settings__password {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 16px;
    background-color: #ffffff;
    border-radius: 4px;
}

.container_settings__profile-block,
.container_settings__password-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 24px;
    background-color: #ffffff;
}
.container_settings__profile-block .span__error{
    margin-top:-20px;
}
.profile_text {
    display: flex;
    text-transform: uppercase;
    font-family: "BebasNeueBold";
    color: #222529;
    height: 32px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
}

.profile_text > p {
    margin: 0;
}

.inputs {
    width: 100%;
}

.form {
    margin: 0;
    width: 100%;
}

.email {
    display: block;
}
.inputs .inputElem>img {
    position:absolute;
    right:25px;
    top:36%;
    height: 24px;
    width: 24px;
}
.inputElem{
    position: relative;
}
button[type="submit"]:disabled {
    opacity: 0.5;
}
/* button[type="submit"]:disabled button[type="submit"]:hover {
    background-color: #01ce9f;
} */

.first_name__label,
.last_name__label,
.email__label, 
.location__label, 
.photo__label,
.password__label {
    height: 24px;
    font-family: "SourceSansPro-Regular";
    color: #868e95;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
    text-transform: uppercase;
}

.first_name__input, 
.last_name__input,
.emaill__input, 
.location__input,
.password__input {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 24px;
    background-color: #f1f3f5;
    border: none;
    outline-color: #01ce9f;
    border-radius: 4px;
    margin-bottom: 24px;
    padding: 8px 5%;
    
}

.photo_upload {
    display: flex;
    width: 100%;
}

.photo_upload__photo  {
    margin-right: 5%;
    width: 25%;
}

.photo_upload__photo img {
    width: 88px;
    height: 88px;
    border-radius: 50% 50%;
    object-fit: cover;
}

.photo_upload__details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 62%;
}

.photo__label {
    margin-bottom: 4px;
    height: 24px;
}

.button_photo {
    cursor: pointer;
    width: 80px;
    height: 40px;
    font-family: "SourceSansPro-Semibold";
    outline: none;
    border: none;
    background-color: #f1f3f5;
    color: #01ce9f;
    text-transform: uppercase;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 8px;
}

.button_photo:hover {
    background-color: #01ce9f;
    color: #f1f3f5;
}

.photo_upload__details > p {
    margin: 0;
    padding: 0;
    color: #868e95;
    font-size: 10px;
    height: 16px;
}

.button_file {
    position: relative;
    width: 100%;
}

.input_file {
    cursor: pointer;
}

.button_file input[type=file] {
    width: 100%;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.save_block {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
}

.save_block__button, .change_block__button {
    cursor: pointer;
    width: 28%;
    height: 40px;
    font-family: "SourceSansPro-Semibold";
    outline: none;
    border: none;
    background-color: #01ce9f;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 4px;
    font-size: 16px;
    padding: 1% 4%;
}

.change_block {
    display: flex;
    justify-content: flex-end;
}

.change_block__button {
    width: 40%;
}

.save_block__button:hover,
.change_block__button:hover {
    background-color: #3cf0c6;
}
.save_block__button:active,
.change_block__button:active {
    opacity: 0.5;
}
@media only screen and (min-width: 700px) and (max-width: 1200px) {
    .photo_upload {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    padding: 50px;
}

.modal {
    background-color: #fff;
    border-radius: 5px;
    max-width: 500px;
    min-height: 300px;
    margin: 0 auto;
    padding: 30px;
}

.footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px !important;
}

.footer > button {
    align-self: flex-end;
}