.section4__text{
    display: flex;
    margin: 4.166666% 5% 2.0833% 5%;
    justify-content: space-between;
}
        .section4__text__main{
            width:66.197183%;
            color:#fff;
            font-family: "SourceSansPro-Regular";
        }
.section4__text__main  p{
    text-align: justify;
    font-size: 1rem;
}
.section4__text__user{
    display: flex;
    margin-top: 1.25vw;
}
    .section4__text__user img{
        margin-right: 0.833333vw;
        }
.section4__text__user div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            
        }

.section4__text__buttonl{
width:30%;

}
        .section4__text__buttonr{
            width:30%;
        }
    

.section4__dot{
    display: flex;
    margin:0 44.791666%;
    margin-bottom: 11.666666%;
    justify-content: space-between;
}
   .section4__dot div{
        height:0.5vw;
        width: 0.5vw;
        background-color: rgba(248, 249, 250, 0.2);
        border-radius: 100%;
        margin-right: 10%;
    }
    .active{
        background-color: #fff;
    }