.section3__header{
    text-align: center;
    margin-top: 8.333333%;
}
    .section3__header h3{
        font-size: 2.25rem;
        font-family:"BebasNeue";
    }

.section3__function{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin:4.166666% auto 8.28125% 0;
    padding: 0 20.416666%;
}
    .section3__function__item{
       width: 25%;
        height: 15vw;
        margin:20px 10px;
        transition: 0.4s;
        border-radius: 5px;
    }          
        .section3__function__item div{
            height: 60%;
            width:100%;
            display: flex;
            align-items: center;
            margin:0 auto;
        }
        .section3__function__item  img{
                width: 25%;
               display: block;
               margin:0 auto;
            }
        
            .section3__function__item   p{
            margin: 7% auto;
            text-align: center;
            font-family: "SourceSansPro-Regular";
            font-size: 1rem;
        } 
    
    .section3__function__item:hover{
        background-color: rgba(129, 129, 129, 0.253);
        transition: .5s;
    }

